# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib
*.pyd

# C extensions
build/

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# PyInstaller
#  Usually contains the Python interpreter, too
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook files
*.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode and IDEs
.vscode/
.idea/
*.sublime-workspace

# Environments
.env
.venv
env/
venv/
ENV/

# Logs and databases
*.log
*.sql
*.sqlite3

# FFmpeg binaries
ffmpeg/

# Custom temporary files
temp/
tmp/
*.tmp
